    header {
        background-color: #272525;
    }


    .mart {
        margin-top: 200px;
    }

    .btn-custom {
        background-color: #C07A11;
        border-color: #C07A11;
    }

    .text_like {
        font-size: 20px;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input {
        color: transparent;
    }

    .custom-file-input::before {
        content: 'Изменить фото';
        color: black;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
    }